<h1> RA and Dec converter</h1>

<h2> Results:</h2>
<table style="width:15%">
  <tr>
    <th>RA</th>
    <th>Dec</th> 
  </tr>
  <% @answers.each do |array| %>
    <tr>
      <% array.each do |element| %>
          <th><%= element %></th>
      <% end %>
    </tr>
  <% end %>
</table>
