<h1> RA and Dec converter</h1>


<h2> Results:</h2>
<table style="width:15%">
  <tr>
    <th>RA</th>
    <th>Dec</th> 
  </tr>
<% @answers.each do |answer| %>
  <tr>
  <th><%= sprintf('%.10f' , answer[0]) %></th>
  <th><%= sprintf('%.10f' , answer[1]) %></th>
  </tr>
<% end %>
</table>
