<h1> RA and Dec converter</h1>

<h2> Results:</h2>
<table style="width:15%">
  <tr>
    <th>RA</th>
    <th>Dec</th> 
  </tr>
  <% @answers.each do |ra,dec| %>
    <tr>
      <th><%= ra %></th>
      <th><%= dec %></th>
    </tr>
  <% end %>
</table>
